body {
  font-family: poppins, sans-serif;
}

header {
  background-color: #333;
  color: #bbb;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-bottom: 1vmin;
  a, a:visited {
    color: #eee;
    text-decoration: none;
  }
  a:hover, a:active { 
    color: #fff; 
    text-decoration: underline;
  } 
}

main.grid { 
  max-width: 100vw;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-column-gap: 2vmin;
  grid-row-gap: 2vmin; 
  @media (max-width: 1100px) {
    grid-template-columns: repeat(1, 1fr); 
  }
}

iframe {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  height:80vh;
  padding:8vmin;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}

iframe:nth-child(9n-2) {
  grid-column: 1 / -1
}