/* colors */
/* Presets */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  perspective-origin: 25% 75%;
  background: linear-gradient(187.47deg, #99C0CD 15%, #5993A7 100%);
  perspective-origin: 50% 50%;
}

div:before, div:after {
  display: block;
  content: "";
  position: absolute;
}

div.splash {
  width: 100vmin;
  height: 100vmin;
  left: -4vmin;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0d0d0d 1.5vmin, #0d0d0d 1.75vmin, transparent 10vmin) 32vmin 52vmin/45vmin 6vmin no-repeat, linear-gradient(#cccccc 0.25vmin, #4d4d4d 0.5vmin, #4d4d4d 4.75vmin, #272727 4.75vmin, transparent 10vmin) 12.5vmin 53.5vmin/10vmin 4vmin no-repeat, linear-gradient(#0d0d0d 1.5vmin, #0d0d0d 1.75vmin, transparent 10vmin) 12vmin 53vmin/11vmin 5vmin no-repeat, radial-gradient(circle, #404040 0vmin, #404040 3.25vmin, transparent 3.2vmin) 83.5vmin 51.25vmin/8vmin 8vmin no-repeat, radial-gradient(circle, #e6e6e6 0vmin, #e6e6e6 3vmin, transparent 3vmin) 83.5vmin 50.5vmin/8vmin 8vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1.2vmin, #333333 3.5vmin, #272727 3.5vmin, #0d0d0d 4vmin, transparent 4vmin) 83.5vmin 51vmin/8vmin 8vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1vmin, transparent 1vmin) 24.25vmin 54.45vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #e6e6e6 0vmin, #e6e6e6 1vmin, transparent 1vmin) 24.25vmin 54.25vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #333333 0vmin, #333333 1.2vmin, #272727 1.2vmin, #0d0d0d 1.5vmin, transparent 1.5vmin) 24vmin 54vmin/3vmin 3vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1vmin, transparent 1vmin) 13.25vmin 64.5vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #e6e6e6 0vmin, #e6e6e6 1vmin, transparent 1vmin) 13.25vmin 64.25vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1.2vmin, #272727 1.2vmin, #0d0d0d 1.5vmin, transparent 1.5vmin) 13vmin 64vmin/3vmin 3vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1vmin, transparent 1vmin) 18.25vmin 64.5vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #e6e6e6 0vmin, #e6e6e6 1vmin, transparent 1vmin) 18.25vmin 64.25vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1.2vmin, #272727 1.2vmin, #0d0d0d 1.5vmin, transparent 1.5vmin) 18vmin 64vmin/3vmin 3vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1vmin, transparent 1vmin) 23.25vmin 64.5vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #e6e6e6 0vmin, #e6e6e6 1vmin, transparent 1vmin) 23.25vmin 64.25vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1.2vmin, #272727 1.2vmin, #0d0d0d 1.5vmin, transparent 1.5vmin) 23vmin 64vmin/3vmin 3vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1vmin, transparent 1vmin) 72.25vmin 64.5vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #e6e6e6 0vmin, #e6e6e6 1vmin, transparent 1vmin) 72.25vmin 64.25vmin/2.5vmin 2.5vmin no-repeat, radial-gradient(circle, #4d4d4d 0vmin, #4d4d4d 1.2vmin, #272727 1.2vmin, #0d0d0d 1.5vmin, transparent 1.5vmin) 72vmin 64vmin/3vmin 3vmin no-repeat, linear-gradient(#cccccc 0.25vmin, #6a9eb0 0.5vmin, #6a9eb0 4.75vmin, #477686 4.75vmin, transparent 10vmin) 30.5vmin 63.5vmin/25vmin 4vmin no-repeat, linear-gradient(#0d0d0d 1.5vmin, #0d0d0d 1.75vmin, transparent 10vmin) 30vmin 63vmin/26vmin 5vmin no-repeat, linear-gradient(#cccccc 0.25vmin, #4d4d4d 0.5vmin, #4d4d4d 4.75vmin, #272727 4.75vmin, transparent 10vmin) 60.5vmin 63.5vmin/10vmin 4vmin no-repeat, linear-gradient(#0d0d0d 1.5vmin, #0d0d0d 1.75vmin, transparent 10vmin) 60vmin 63vmin/11vmin 5vmin no-repeat, linear-gradient(#0d0d0d 1.5vmin, #0d0d0d 1.75vmin, transparent 10vmin) 87vmin 63vmin/0.5vmin 5vmin no-repeat, linear-gradient(#cccccc 0.25vmin, #4d4d4d 0.5vmin, #4d4d4d 4.75vmin, #272727 4.75vmin, transparent 10vmin) 80.5vmin 63.5vmin/14vmin 4vmin no-repeat, linear-gradient(#0d0d0d 1.5vmin, #0d0d0d 1.75vmin, transparent 10vmin) 80vmin 63vmin/15vmin 5vmin no-repeat, linear-gradient(#1a1a1a 1.5vmin, #0d0d0d 1.75vmin, transparent 6vmin) 10vmin 60vmin/90vmin 2vmin no-repeat, linear-gradient(#333333 30vmin, #404040 30vmin, transparent 3vmin) 10vmin 50vmin/90vmin 20vmin no-repeat, radial-gradient(ellipse, #1a1a1a 7.5vmin, black 8vmin, transparent 8vmin) 25vmin 69vmin/15vmin 2vmin no-repeat, radial-gradient(ellipse, #1a1a1a 7.5vmin, black 8vmin, transparent 8vmin) 75vmin 69vmin/15vmin 2vmin no-repeat;
}

div.splash:before {
  width: 100vmin;
  height: 100vmin;
  margin: 0 auto;
  z-index: 99;
  transform: perspective(1000px) rotateX(55deg);
  background: linear-gradient(#a6a6a6 0vmin, #929292 0.5vmin) 42vmin 54.5vmin/26vmin 0.25vmin no-repeat, linear-gradient(#a6a6a6 0vmin, #929292 0.5vmin) 42vmin 55.5vmin/26vmin 0.25vmin no-repeat, linear-gradient(#a6a6a6 0vmin, #929292 0.5vmin) 42vmin 56.5vmin/26vmin 0.25vmin no-repeat, linear-gradient(#a6a6a6 0vmin, #bfbfbf 6vmin, transparent 10vmin) 41vmin 54vmin/28vmin 4vmin no-repeat, linear-gradient(black 0vmin, black 4vmin, transparent 6vmin) 33.5vmin 54vmin/42.25vmin 4.75vmin no-repeat, linear-gradient(#404040 20vmin, #272727 30vmin, transparent 3vmin) 10vmin 20vmin/90vmin 50vmin no-repeat;
}

div.splash:after {
  width: 100vmin;
  height: 100vmin;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  content: "Splash";
  font-family: "Special Elite", cursive;
  font-size: 3vmin;
  padding-top: 19vmin;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#929292 0vmin, #929292 0.5vmin) 69vmin 57.75vmin/1.25vmin 2.75vmin no-repeat, linear-gradient(#a6a6a6 0vmin, #929292 0.5vmin) 35vmin 58vmin/33vmin 0.25vmin no-repeat, linear-gradient(#a6a6a6 0vmin, #929292 0.5vmin) 35vmin 59vmin/33vmin 0.25vmin no-repeat, linear-gradient(#a6a6a6 0vmin, #929292 0.5vmin) 35vmin 60vmin/33vmin 0.25vmin no-repeat, linear-gradient(#a6a6a6 0vmin, #bfbfbf 6vmin, transparent 10vmin) 33.75vmin 57vmin/38vmin 4vmin no-repeat, linear-gradient(black 0vmin, black 6vmin, transparent 14vmin) 32.25vmin 55.5vmin/46vmin 7vmin no-repeat;
}