$test: #bada55;
$pink: #f797a3;
$yellow: #ffd54b;

div:before, div:after {
  display: block;
  content: '';
  position: absolute;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center; 
  justify-items: center;
  align-items: center; 
    background: 
    radial-gradient(lighten($pink, 10%), lighten($pink, 40%));
}

div.collect {
    width:100vmin;
    height: 100vmin;
    display: flex;
    
    //opacity: 0.7;
    margin: 0 auto;
    position: relative; 
    background: 
      
      
      /*  slot  */ 
    
      radial-gradient(ellipse, darken($pink, 18%) 8.5vmin, transparent 8vmin) 41.5vmin 37vmin / 17vmin 1.5vmin no-repeat,  
      radial-gradient(ellipse, darken($pink, 12%) 8.5vmin, transparent 8vmin) 41.5vmin 36.5vmin / 17vmin 2vmin no-repeat,
      
      
      /*   eye */
       radial-gradient(ellipse, darken($pink, 18%) 1.5vmin, transparent 1vmin) 34.5vmin 49.5vmin / 3vmin 3vmin no-repeat,
      radial-gradient(ellipse, darken($pink, 12%) 2.5vmin, transparent 1vmin) 33vmin 48vmin / 5vmin 5vmin no-repeat,
      
      
      
      
      /*   body */
      radial-gradient(ellipse, lighten($pink, 3%) 20vmin, transparent 1vmin) 27vmin 35vmin / 40vmin 34vmin no-repeat,
      radial-gradient(ellipse, $pink 23vmin, transparent 1vmin) 25.5vmin 35vmin / 46vmin 39vmin no-repeat,
      radial-gradient(ellipse, darken($pink, 3%) 25vmin, transparent 1vmin) 25vmin 35vmin / 50vmin 45vmin no-repeat,
     
    
      
      /*  snout  */
      linear-gradient(90deg, lighten($pink, 3%) 13vmin, transparent 1vmin) 21.5vmin 52.5vmin / 8vmin 3vmin no-repeat,
      radial-gradient(ellipse at bottom right, lighten($pink, 3%) 7vmin, transparent 1vmin) 14.5vmin 45vmin / 14vmin 8vmin no-repeat,
      radial-gradient(ellipse at top right, lighten($pink, 3%) 7vmin, transparent 1vmin) 14.5vmin 55vmin / 14vmin 8vmin no-repeat,

      linear-gradient(90deg, $pink 13vmin, transparent 1vmin) 20.5vmin 52.5vmin / 8vmin 6vmin no-repeat,
      radial-gradient(ellipse at bottom right, $pink 7vmin, transparent 1vmin) 13.5vmin 45vmin / 14vmin 8vmin no-repeat,
      radial-gradient(ellipse at top right, $pink 7vmin, transparent 1vmin) 13.5vmin 58vmin / 14vmin 8vmin no-repeat,
      
      
      
      /* legs  */
      radial-gradient(ellipse at top, $pink 4.5vmin, transparent 1vmin) 32vmin 67vmin / 9vmin 15vmin no-repeat,
      radial-gradient(ellipse at top, darken($pink, 3%) 5vmin, transparent 1vmin) 32.5vmin 72vmin / 10vmin 10vmin no-repeat,
      
      radial-gradient(ellipse at top, $pink 4.5vmin, transparent 1vmin) 60vmin 67vmin / 9vmin 15vmin no-repeat,
      radial-gradient(ellipse at top, darken($pink, 3%) 5vmin, transparent 1vmin) 58.5vmin 72vmin / 10vmin 10vmin no-repeat,
      
      
}

div.collect:before {
    width:100vmin;
    height: 100vmin;
    left: 30vmin;
    z-index: 9999;
    transform: rotate(45deg);
    background: 
         
      /*  tail  */ 
      /* front */ radial-gradient(ellipse at bottom right, transparent 6vmin, darken($pink, 3%) 6vmin, darken($pink, 3%) 7.5vmin, transparent 7.5vmin) 43vmin 50vmin / 14vmin 8vmin no-repeat,
  
    
          
      /*  upper body spots */ 
      radial-gradient(ellipse, lighten($pink, 8%) 1vmin, transparent 1vmin) 14vmin 69vmin / 2vmin 3vmin no-repeat,
      radial-gradient(ellipse, lighten($pink, 8%) 2vmin, transparent 1vmin) 12vmin 73vmin / 4vmin 7vmin no-repeat,
      
      /*  lower body spots */ 
      radial-gradient(ellipse, darken($pink, 8%) 1vmin, transparent 1vmin) 53.5vmin 67vmin / 2vmin 3vmin no-repeat,
      radial-gradient(ellipse, darken($pink, 8%) 2vmin, transparent 1vmin) 53vmin 71vmin / 4vmin 7vmin no-repeat,
      
      
        
      /*  body mask */ 
      radial-gradient(ellipse, lighten($pink, 3%) 13vmin, transparent 1vmin) 18vmin 58vmin / 26vmin 26vmin no-repeat,
      
      /* diamond */ linear-gradient(-45deg, lighten($pink, 3%)  13vmin, transparent 1vmin) 14.5vmin 57vmin /15vmin 15vmin no-repeat,
      
      /*  ears  */
      
      /* mask */ radial-gradient(ellipse, lighten($pink, 3%) 2vmin, transparent 1vmin) 12vmin 69vmin / 4vmin 8vmin no-repeat,
      /* front */ radial-gradient(ellipse at right, lighten($pink, 3%) 8vmin, transparent 1vmin) -4vmin 69.5vmin / 16vmin 9vmin no-repeat,
      /* back */  radial-gradient(ellipse at bottom right, darken($pink, 3%) 8vmin, transparent 1vmin) -4vmin 66vmin / 16vmin 8vmin no-repeat,
      
      /* mask */ radial-gradient(ellipse, lighten($pink, 3%) 2vmin, transparent 1vmin) 9.25vmin 74vmin / 4vmin 8vmin no-repeat,
      /* front */ radial-gradient(ellipse at right, $pink 7vmin, transparent 1vmin) -3vmin 73vmin / 14vmin 8vmin no-repeat,
      /* back */  radial-gradient(ellipse at bottom right, darken($pink, 8%) 8vmin, transparent 1vmin) -4vmin 69vmin / 16vmin 8vmin no-repeat,
      
      
      
      
}

div.collect:after {
    width:15vmin;
    height: 15vmin;
    left: 42vmin;
    top: 5vmin;
    z-index: 999;
    content: '$';
    font-size: 9vmin;
    padding-right: 1vmin;
    padding-bottom: 1vmin;
    font-family: 'Archivo Black', sans-serif;
    color: darken($yellow, 20%);
    display: flex;
    justify-content: center;
    align-items: center; 
    animation: 
      coindown 7s infinite;
    background: 
         
      
      /*  coin  */
       radial-gradient(ellipse, lighten($yellow, 3%) 5vmin, transparent 3.5vmin) 3vmin 2vmin / 10vmin 7vmin no-repeat,
      
       radial-gradient(ellipse, darken($yellow, 2%) 6vmin, darken($yellow, 10%) 6vmin, darken($yellow, 10%) 6.5vmin, $yellow 7vmin, $yellow 7.5vmin, transparent 7.5vmin) 0vmin 0vmin / 15vmin 15vmin no-repeat,
       radial-gradient(ellipse, darken($yellow, 10%) 7.5vmin, transparent 7.5vmin) 0.25vmin 0vmin / 16vmin 16vmin no-repeat,
      
  
}
      

@keyframes coindown {
  0%   {
    top: -10vmin;
  }
  70% {
    top: 40vmin;
  }
  100% {
    top: 40vmin;
  }
}