div:before, div:after {
  display: block;
  content: "";
  position: absolute;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background: radial-gradient(rgb(250.6428571429, 198.3571428571, 204.8928571429), white);
}

div.collect {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  margin: 0 auto;
  position: relative;
  background: radial-gradient(ellipse, rgb(240.4428571429, 65.7571428571, 87.5928571429) 8.5vmin, transparent 8vmin) 41.5vmin 37vmin/17vmin 1.5vmin no-repeat, radial-gradient(ellipse, rgb(242.6285714286, 94.1714285714, 112.7285714286) 8.5vmin, transparent 8vmin) 41.5vmin 36.5vmin/17vmin 2vmin no-repeat, radial-gradient(ellipse, rgb(240.4428571429, 65.7571428571, 87.5928571429) 1.5vmin, transparent 1vmin) 34.5vmin 49.5vmin/3vmin 3vmin no-repeat, radial-gradient(ellipse, rgb(242.6285714286, 94.1714285714, 112.7285714286) 2.5vmin, transparent 1vmin) 33vmin 48vmin/5vmin 5vmin no-repeat, radial-gradient(ellipse, rgb(248.0928571429, 165.2071428571, 175.5678571429) 20vmin, transparent 1vmin) 27vmin 35vmin/40vmin 34vmin no-repeat, radial-gradient(ellipse, #f797a3 23vmin, transparent 1vmin) 25.5vmin 35vmin/46vmin 39vmin no-repeat, radial-gradient(ellipse, rgb(245.9071428571, 136.7928571429, 150.4321428571) 25vmin, transparent 1vmin) 25vmin 35vmin/50vmin 45vmin no-repeat, linear-gradient(90deg, rgb(248.0928571429, 165.2071428571, 175.5678571429) 13vmin, transparent 1vmin) 21.5vmin 52.5vmin/8vmin 3vmin no-repeat, radial-gradient(ellipse at bottom right, rgb(248.0928571429, 165.2071428571, 175.5678571429) 7vmin, transparent 1vmin) 14.5vmin 45vmin/14vmin 8vmin no-repeat, radial-gradient(ellipse at top right, rgb(248.0928571429, 165.2071428571, 175.5678571429) 7vmin, transparent 1vmin) 14.5vmin 55vmin/14vmin 8vmin no-repeat, linear-gradient(90deg, #f797a3 13vmin, transparent 1vmin) 20.5vmin 52.5vmin/8vmin 6vmin no-repeat, radial-gradient(ellipse at bottom right, #f797a3 7vmin, transparent 1vmin) 13.5vmin 45vmin/14vmin 8vmin no-repeat, radial-gradient(ellipse at top right, #f797a3 7vmin, transparent 1vmin) 13.5vmin 58vmin/14vmin 8vmin no-repeat, radial-gradient(ellipse at top, #f797a3 4.5vmin, transparent 1vmin) 32vmin 67vmin/9vmin 15vmin no-repeat, radial-gradient(ellipse at top, rgb(245.9071428571, 136.7928571429, 150.4321428571) 5vmin, transparent 1vmin) 32.5vmin 72vmin/10vmin 10vmin no-repeat, radial-gradient(ellipse at top, #f797a3 4.5vmin, transparent 1vmin) 60vmin 67vmin/9vmin 15vmin no-repeat, radial-gradient(ellipse at top, rgb(245.9071428571, 136.7928571429, 150.4321428571) 5vmin, transparent 1vmin) 58.5vmin 72vmin/10vmin 10vmin no-repeat;
}

div.collect:before {
  width: 100vmin;
  height: 100vmin;
  left: 30vmin;
  z-index: 9999;
  transform: rotate(45deg);
  background: radial-gradient(ellipse at bottom right, transparent 6vmin, rgb(245.9071428571, 136.7928571429, 150.4321428571) 6vmin, rgb(245.9071428571, 136.7928571429, 150.4321428571) 7.5vmin, transparent 7.5vmin) 43vmin 50vmin/14vmin 8vmin no-repeat, radial-gradient(ellipse, rgb(249.9142857143, 188.8857142857, 196.5142857143) 1vmin, transparent 1vmin) 14vmin 69vmin/2vmin 3vmin no-repeat, radial-gradient(ellipse, rgb(249.9142857143, 188.8857142857, 196.5142857143) 2vmin, transparent 1vmin) 12vmin 73vmin/4vmin 7vmin no-repeat, radial-gradient(ellipse, rgb(244.0857142857, 113.1142857143, 129.4857142857) 1vmin, transparent 1vmin) 53.5vmin 67vmin/2vmin 3vmin no-repeat, radial-gradient(ellipse, rgb(244.0857142857, 113.1142857143, 129.4857142857) 2vmin, transparent 1vmin) 53vmin 71vmin/4vmin 7vmin no-repeat, radial-gradient(ellipse, rgb(248.0928571429, 165.2071428571, 175.5678571429) 13vmin, transparent 1vmin) 18vmin 58vmin/26vmin 26vmin no-repeat, linear-gradient(-45deg, rgb(248.0928571429, 165.2071428571, 175.5678571429) 13vmin, transparent 1vmin) 14.5vmin 57vmin/15vmin 15vmin no-repeat, radial-gradient(ellipse, rgb(248.0928571429, 165.2071428571, 175.5678571429) 2vmin, transparent 1vmin) 12vmin 69vmin/4vmin 8vmin no-repeat, radial-gradient(ellipse at right, rgb(248.0928571429, 165.2071428571, 175.5678571429) 8vmin, transparent 1vmin) -4vmin 69.5vmin/16vmin 9vmin no-repeat, radial-gradient(ellipse at bottom right, rgb(245.9071428571, 136.7928571429, 150.4321428571) 8vmin, transparent 1vmin) -4vmin 66vmin/16vmin 8vmin no-repeat, radial-gradient(ellipse, rgb(248.0928571429, 165.2071428571, 175.5678571429) 2vmin, transparent 1vmin) 9.25vmin 74vmin/4vmin 8vmin no-repeat, radial-gradient(ellipse at right, #f797a3 7vmin, transparent 1vmin) -3vmin 73vmin/14vmin 8vmin no-repeat, radial-gradient(ellipse at bottom right, rgb(244.0857142857, 113.1142857143, 129.4857142857) 8vmin, transparent 1vmin) -4vmin 69vmin/16vmin 8vmin no-repeat;
}

div.collect:after {
  width: 15vmin;
  height: 15vmin;
  left: 42vmin;
  top: 5vmin;
  z-index: 999;
  content: "$";
  font-size: 9vmin;
  padding-right: 1vmin;
  padding-bottom: 1vmin;
  font-family: "Archivo Black", sans-serif;
  color: rgb(228, 174.8, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: coindown 7s infinite;
  background: radial-gradient(ellipse, rgb(255, 216.57, 90.3) 5vmin, transparent 3.5vmin) 3vmin 2vmin/10vmin 7vmin no-repeat, radial-gradient(ellipse, rgb(255, 210.62, 64.8) 6vmin, rgb(255, 201.1, 24) 6vmin, rgb(255, 201.1, 24) 6.5vmin, #ffd54b 7vmin, #ffd54b 7.5vmin, transparent 7.5vmin) 0vmin 0vmin/15vmin 15vmin no-repeat, radial-gradient(ellipse, rgb(255, 201.1, 24) 7.5vmin, transparent 7.5vmin) 0.25vmin 0vmin/16vmin 16vmin no-repeat;
}

@keyframes coindown {
  0% {
    top: -10vmin;
  }
  70% {
    top: 40vmin;
  }
  100% {
    top: 40vmin;
  }
}/*# sourceMappingURL=style.css.map */