/* colors */
$white: #f0f0f0;
$gray: #404040;
$blue1: #01A9EF;
$blue2: #0089D1;


/* Presets */

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  position: relative;
  z-index: 1;
  perspective-origin: 25% 75%;
  background: linear-gradient(180deg, $blue1 85%, $blue2 100%);
  perspective-origin: 50% 50%;
}

div:before, div:after {
  display: block;
  content: '';
  position: absolute;
}



@keyframes feather{
  0% {transform:translateX(0);
    transform-origin:50% 50%}
  15%{ transform:
      translateX(-80px)
      translateY(50px)  
      rotate(6deg)}
  30%{transform:
      translateX(85px)
      translateY(100px)
      rotate(-6deg)}
  45%{transform:
      translateX(-85px)
      translateY(150px) 
      rotate(3.6deg)}
  60%{transform:
      translateX(90px) 
      translateY(210px)
      rotate(-2.4deg)}
  75%{transform:
      translateX(-60px) 
      translateY(240px)
      rotate(1.2deg)}
  100%{transform:
      translateX(0)
      translateY(300px);
      transform-origin:50% 50%}
}

@keyframes feather-shadow{
  0% {transform:
    translateX(0)
      rotate(0deg)
      scale(0.2);
      filter: blur(1rem);
    transform-origin:50% 50%}
  15%{ transform:
      translateX(-10px)
      rotate(6deg)
      scale(0.3);
      filter: blur(0.95rem);}
  30%{transform:
      translateX(5px)
      rotate(-6deg)
      scale(0.4);
      filter: blur(0.85rem);}
  45%{transform:
      translateX(-3px)
      rotate(3.6deg)
      scale(0.5);
      filter: blur(0.80rem);}
  60%{transform:
      translateX(5px) 
      rotate(-2.4deg)
      scale(0.6);
      filter: blur(0.75rem);}
  75%{transform:
      translateX(-5px) 
      rotate(1.2deg)
      scale(0.7);
      opacity: 0.3;
      filter: blur(0.6rem);}
  100%{transform:
      translateX(0)
      scale(0.8);
      opacity: 0;
      filter: blur(0.5rem);
      transform-origin:50% 50%}
}

div.soft {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
      

div.soft:after {
    width: 100vh;
    height: 100vh;
    animation:feather 12s linear both;
    background:

    
      /* l2 */
        radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 7vh,transparent 3.2vh) 61vh 30vh / 32vh 12vh no-repeat,
        radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 7vh,transparent 3.2vh) 62vh 27vh / 22vh 13vh no-repeat,
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 7vh,transparent 3.2vh) 68vh 26vh / 20vh 14vh no-repeat,
      
      radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 6vh,transparent 3.2vh) 61vh 26vh / 20vh 12vh no-repeat,
      
      
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 6vh,transparent 3.2vh) 63vh 25vh / 18vh 12vh no-repeat,
      radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 10vh,transparent 3.2vh) 48vh 23vh / 36vh 23vh no-repeat,
      
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 6vh,transparent 3.2vh) 55vh 26vh / 16vh 12vh no-repeat,
      radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 10vh,transparent 3.2vh) 36vh 21vh / 42vh 24vh no-repeat,
      
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 6vh,transparent 3.2vh) 45vh 26vh / 16vh 12vh no-repeat,
      radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 10vh,transparent 3.2vh) 32vh 23vh / 36vh 20vh no-repeat,
            
      
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
  darken($blue1, 0%) 17vh,transparent 3.2vh) 31.5vh 3vh / 36vh 36vh no-repeat,
    radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 16vh,transparent 3.2vh) 33vh 7.5vh / 32vh 32vh no-repeat,
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 16vh,transparent 3.2vh) 32vh 8vh / 32vh 32vh no-repeat,

      
      /* l1-2 */
      
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 8vh,transparent 3.2vh) 56vh 22vh / 20vh 22vh no-repeat,
      radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 12vh,transparent 3.2vh) 45.5vh 29.5vh / 24vh 16vh no-repeat,
      
      /* l1 */
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 8vh,transparent 3.2vh) 44vh 27vh / 20vh 22vh no-repeat,
      radial-gradient(ellipse, 
darken($white, 0%) 0vh, 
darken($white, 0%) 8vh,transparent 3.2vh) 40vh 29vh / 16vh 16vh no-repeat,
}



div.soft:before {
    filter: blur(0.125rem);
    width: 100vh;
    height: 100vh;
    margin: 55vh auto 0;
    position: relative;
    display: flex;
    opacity: 0.4;
    justify-content: center;
    align-items: end;
    animation: feather-shadow 12s linear both;
       background:

    
      /* l2 */
        radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 7vh,transparent 3.2vh) 61vh 30vh / 32vh 12vh no-repeat,
        radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 7vh,transparent 3.2vh) 62vh 27vh / 22vh 13vh no-repeat,
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 7vh,transparent 3.2vh) 68vh 26vh / 20vh 14vh no-repeat,
      
      radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 6vh,transparent 3.2vh) 61vh 26vh / 20vh 12vh no-repeat,
      
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 6vh,transparent 3.2vh) 63vh 25vh / 18vh 12vh no-repeat,
      radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 10vh,transparent 3.2vh) 48vh 23vh / 36vh 23vh no-repeat,
      
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 6vh,transparent 3.2vh) 55vh 26vh / 16vh 12vh no-repeat,
      radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 10vh,transparent 3.2vh) 36vh 21vh / 42vh 24vh no-repeat,
      
      radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 6vh,transparent 3.2vh) 45vh 26vh / 16vh 12vh no-repeat,
      radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 10vh,transparent 3.2vh) 32vh 23vh / 36vh 20vh no-repeat,
            
      
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
  darken($blue1, 0%) 17vh,transparent 3.2vh) 31.5vh 3vh / 36vh 36vh no-repeat,
    radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 16vh,transparent 3.2vh) 33vh 7.5vh / 32vh 32vh no-repeat,
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 16vh,transparent 3.2vh) 32vh 8vh / 32vh 32vh no-repeat,

      
      /* l1-2 */
      
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 8vh,transparent 3.2vh) 56vh 22vh / 20vh 22vh no-repeat,
      radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 12vh,transparent 3.2vh) 45.5vh 29.5vh / 24vh 16vh no-repeat,
      
      /* l1 */
    radial-gradient(ellipse, 
darken($blue1, 0%) 0vh, 
darken($blue1, 0%) 8vh,transparent 3.2vh) 44vh 27vh / 20vh 22vh no-repeat,
      radial-gradient(ellipse, 
darken($gray, 0%) 0vh, 
darken($gray, 0%) 8vh,transparent 3.2vh) 40vh 29vh / 16vh 16vh no-repeat,

}
  
