$test: #bada55;
$white: #ffffff;
$black: #030700;
$red: #fe0000;
$yellow: #ed8001;
$brown: #894204;
$bg: #53b7f0; //#c6e5f0;


div, div:before, div:after {
  display: block;
  content: '';
  position: absolute;
  box-sizing:border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: 
    
   background-color: $bg;
   //  background-size: 60%;
   //  background-repeat: no-repeat;
   //  background-position-x: 26vmin;
   //  background-position-y: -1.5vmin;
   // background-image: url('https://t3.ftcdn.net/jpg/02/28/31/88/360_F_228318811_ubOREomdyOvQiA2LhuqksIyw0uY85hmp.jpg') 
}



$box-w: 0vmin;
$box-h: 20vmin;




div.cheesy {
    width: 100vmin;
    height: 100vmin;
    display: flex;
    margin: 0 auto;
    position: relative; 
    justify-content: center;
    align-items: center;
    background:
      
       /* Prop */
      
      radial-gradient(ellipse at 70% 50%, $yellow  2.5vmin, transparent 1vmin ) calc(#{$box-w} + 14.5vmin) calc(#{$box-h} + 21vmin)  / 5vmin 5vmin no-repeat,
      
      radial-gradient(ellipse at 50% 50%, $brown  .75vmin, transparent .5vmin ) calc(#{$box-w} + 17.5vmin) calc(#{$box-h} + 13.5vmin)  / 1.5vmin 8vmin no-repeat,
      radial-gradient(ellipse at 50% 50%, $brown  .75vmin, transparent .5vmin ) calc(#{$box-w} + 17.5vmin) calc(#{$box-h} + 25vmin)  / 1.5vmin 8vmin no-repeat,
      
      
       /* wings */
      linear-gradient(80deg, transparent 6.5vmin, darken($red, 18%) 6.5vmin, darken($red, 18%) 7.5vmin, transparent 7.5vmin ) calc(#{$box-w} + 25vmin) calc(#{$box-h} + 13vmin)  / 12vmin 12vmin no-repeat,
      linear-gradient(80deg, transparent 6.5vmin, darken($red, 18%) 6.5vmin, darken($red, 18%) 7.5vmin, transparent 7.5vmin ) calc(#{$box-w} + 32vmin) calc(#{$box-h} + 13vmin)  / 12vmin 12vmin no-repeat,
      
      radial-gradient(ellipse at 70% 60%, darken($red, 18%)  5.75vmin, transparent 1vmin ) calc(#{$box-w} + 25vmin) calc(#{$box-h} + 11vmin)  / 10vmin 2.5vmin no-repeat,
      linear-gradient(10deg, darken($red, 18%) 2.5vmin, transparent 2.5vmin ) calc(#{$box-w} + 32vmin) calc(#{$box-h} + 11.5vmin)  / 12vmin 2vmin no-repeat,
      
       radial-gradient(ellipse at 70% 40%, darken($red, 18%)  5.75vmin, transparent 1vmin ) calc(#{$box-w} + 27vmin) calc(#{$box-h} + 24.5vmin)  / 10vmin 2.5vmin no-repeat,
      linear-gradient(170deg, darken($red, 18%) 2.5vmin, transparent 2.5vmin ) calc(#{$box-w} + 34vmin) calc(#{$box-h} + 24.5vmin)  / 12vmin 2vmin no-repeat,
      
      
       /* Front Wheel */
        radial-gradient(circle, $black  1vmin, $yellow  1vmin, $yellow  2.25vmin, $black  2.25vmin,  $black  3.5vmin,  transparent 1vmin ) calc(#{$box-w} + 26vmin) calc(#{$box-h} + 34vmin)  / 7vmin 7vmin no-repeat,
      
       /* Wheelwell */
      radial-gradient(ellipse at 25% 100%, transparent 4vmin, darken($red, 25%) 4vmin, darken($red, 25%) 5vmin, transparent 1vmin ) calc(#{$box-w} + 26.75vmin) calc(#{$box-h} + 28.75vmin)  / 12vmin 8vmin no-repeat,
      
      linear-gradient(180deg, darken($red, 25%) 8vmin, transparent 1vmin ) calc(#{$box-w} + 29.25vmin) calc(#{$box-h} + 27vmin)  / 1vmin 9vmin no-repeat,
      linear-gradient(-60deg, transparent 4.5vmin, darken($red, 25%) 4.5vmin, darken($red, 25%) 5.25vmin, transparent 5.25vmin ) calc(#{$box-w} + 27vmin) calc(#{$box-h} + 28vmin)  / 9vmin 9vmin no-repeat,
      
      
      
      
       /* Back Wheel */
        radial-gradient(circle, $black  .5vmin, $yellow  .5vmin, $yellow  1vmin, $black  1vmin,  $black  1.75vmin,  transparent 1vmin ) calc(#{$box-w} + 64vmin) calc(#{$box-h} + 23vmin)  / 7vmin 7vmin no-repeat,
      
       /* Back wheelwell */
      linear-gradient(90deg, transparent 4.5vmin, darken($red, 25%) 4.5vmin, darken($red, 25%) 5vmin, transparent 5vmin ) calc(#{$box-w} + 62.5vmin) calc(#{$box-h} + 23vmin)  / 9vmin 3vmin no-repeat,
      linear-gradient(25deg, transparent 4.5vmin, darken($red, 25%) 4.5vmin, darken($red, 25%) 5vmin, transparent 5vmin ) calc(#{$box-w} + 58vmin) calc(#{$box-h} + 24vmin)  / 9vmin 3vmin no-repeat,
      
      
      
      
    /* Windshield */
      radial-gradient(ellipse at 120% 100%, transparent 4vmin, darken($red, 25%) 4vmin, darken($red, 25%) 4.75vmin, transparent 1vmin ) calc(#{$box-w} + 26vmin) calc(#{$box-h} + 10vmin)  / 10vmin 8vmin no-repeat,
      
      linear-gradient(90deg, darken($red, 25%) 5vmin, transparent 1vmin ) calc(#{$box-w} + 35.5vmin) calc(#{$box-h} + 15.5vmin)  / .5vmin 2.5vmin no-repeat,
      
      
      
    /* Front */
      radial-gradient(ellipse at 100% 100%, $red 8.75vmin, transparent 1vmin ) calc(#{$box-w} + 20vmin) calc(#{$box-h} + 18vmin)  / 7vmin 5vmin no-repeat,
      radial-gradient(ellipse at 100% 0%, darken($red, 10%) 8.75vmin, transparent 1vmin ) calc(#{$box-w} + 20vmin) calc(#{$box-h} + 23vmin)  / 7vmin 7vmin no-repeat,
      
      
    /* Body */
       radial-gradient(ellipse at 50% 0%, transparent 3.75vmin, $red 3.75vmin,  $red 5vmin,) calc(#{$box-w} + 36vmin) calc(#{$box-h} + 18vmin)  / 9vmin 2.5vmin no-repeat,
      
      linear-gradient(180deg, $red 7vmin, transparent 1vmin ) calc(#{$box-w} + 28vmin) calc(#{$box-h} + 18vmin)  / 8vmin 2vmin no-repeat,
      
       linear-gradient(180deg, $red 7vmin, transparent 1vmin ) calc(#{$box-w} + 28vmin) calc(#{$box-h} + 20vmin)  / 17vmin 3vmin no-repeat,
      linear-gradient(5deg, $red 5vmin, transparent 1vmin ) calc(#{$box-w} + 45vmin) calc(#{$box-h} + 13vmin)  / 23vmin 10vmin no-repeat,
      
      linear-gradient(173deg, darken($red, 10%) 7.5vmin, transparent 1vmin ) calc(#{$box-w} + 28vmin) calc(#{$box-h} + 23vmin)  / 17vmin 15.5vmin no-repeat,
      linear-gradient(170deg, darken($red, 10%) 5.5vmin, transparent 1vmin ) calc(#{$box-w} + 45vmin) calc(#{$box-h} + 23vmin)  / 23vmin 11vmin no-repeat,
      
     
    /* Tail */
      radial-gradient(ellipse at 100% 100%, $red 8vmin, transparent 1vmin ) calc(#{$box-w} + 50vmin) calc(#{$box-h} + 0vmin)  / 18vmin 20vmin no-repeat,
         radial-gradient(ellipse at 0% 100%, $red 4.5vmin, transparent 1vmin ) calc(#{$box-w} + 68.5vmin) calc(#{$box-h} + 0vmin)  / 10vmin 20vmin no-repeat,   
         radial-gradient(ellipse at 0% 0%, $red 4.5vmin, transparent 1vmin ) calc(#{$box-w} + 68.5vmin) calc(#{$box-h} + 19vmin)  / 10vmin 10vmin no-repeat,
      
}

div.cheesy:before {
    width: 90vmin;
    height: 100vh;
    top: 3vmin;
    font-size: 9vmin;
    text-align: center;
    line-height: 1.15;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: $white;
    text-shadow: .5vmin .5vmin .5vmin darken($bg, 20%);
    white-space: pre-wrap;
    content: ' Did you invent the airplane? \A  \A \A  \A  \A  \A  Because you look like Mr. Wright.';
}



div.cheesy:after {
    width: 300vmin;
    height: 100vmin;
    z-index: -999;
    left: -200vmin;
    animation: flyleft 20s linear infinite;
    background: 
      
      /* cloud 1 */
      radial-gradient(ellipse, lighten($bg, 20%)  15vmin, transparent 1vmin ) calc(#{$box-w} + 45vmin) calc(#{$box-h} + 25vmin)  / 30vmin 20vmin no-repeat,
       radial-gradient(ellipse, lighten($bg, 20%)  20vmin, transparent 1vmin ) calc(#{$box-w} + 25vmin) calc(#{$box-h} + 35vmin)  / 40vmin 20vmin no-repeat,
       radial-gradient(ellipse, lighten($bg, 20%)  20vmin, transparent 1vmin ) calc(#{$box-w} + 15vmin) calc(#{$box-h} + 17vmin)  / 40vmin 20vmin no-repeat,
       radial-gradient(ellipse, lighten($bg, 20%)  20vmin, transparent 1vmin ) calc(#{$box-w} + 0vmin) calc(#{$box-h} + 25vmin)  / 40vmin 20vmin no-repeat,
      
      
      /* cloud 2 */
      radial-gradient(ellipse, lighten($bg, 20%)  25vmin, transparent 1vmin ) calc(#{$box-w} + 90vmin) calc(#{$box-h} + -5vmin)  / 50vmin 30vmin no-repeat,
      radial-gradient(ellipse, lighten($bg, 20%)  15vmin, transparent 1vmin ) calc(#{$box-w} + 70vmin) calc(#{$box-h} + 5vmin)  / 30vmin 20vmin no-repeat,
       radial-gradient(ellipse, lighten($bg, 20%)  20vmin, transparent 1vmin ) calc(#{$box-w} + 75vmin) calc(#{$box-h} + 15vmin)  / 40vmin 20vmin no-repeat,
       radial-gradient(ellipse, lighten($bg, 20%)  20vmin, transparent 1vmin ) calc(#{$box-w} + 95vmin) calc(#{$box-h} + 21vmin)  / 40vmin 20vmin no-repeat,
       radial-gradient(ellipse, lighten($bg, 20%)  20vmin, transparent 1vmin ) calc(#{$box-w} + 115vmin) calc(#{$box-h} + 16vmin)  / 40vmin 20vmin no-repeat,
      
}


 @keyframes flyleft {
  100% {
        left: 140vmin;
   }
}