$tan: #e6cda5;
$light-brown: #c78c55;
$dark-brown: #844414;
$yellow: #FEE25E;
$orange: #E77E22;


*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  height: 100vmin;
  position: relative;
  z-index: 1;
  background: 
    radial-gradient(lighten($yellow, 10%), lighten($orange, 10%));
}


div.fall {
    width: 100vmin;
    height: 100vmin;
    margin: -10vmin auto 0;
    position: relative;
    background:

    /* Pumpkin  */
    radial-gradient(50% 60%, lighten($orange, 5%) 5vmin,  transparent 5vmin) 42vmin 51vmin / 25vmin 25vmin no-repeat,
    radial-gradient(50% 60%, $orange 5vmin,  transparent 5vmin) 39vmin 51vmin / 25vmin 25vmin no-repeat,
    radial-gradient(50% 60%, $orange 5vmin,  transparent 5vmin) 45vmin 51vmin / 25vmin 25vmin no-repeat,
    
    /* Pumpkin Stem */
    // radial-gradient(55% 43% at 100% 100%, transparent 25%, #3fa12f 25% 50%, transparent 50%) 39% -13% / 30% 40% no-repeat,
    radial-gradient(55% 43% at 100% 100%, transparent 3.5vmin, $dark-brown 3.5vmin,  $dark-brown 5vmin, transparent 5vmin) 49vmin 48vmin / 10vmin 10vmin no-repeat,


    /* lid-top/mid-right-shadow-mask */ linear-gradient(75deg, $dark-brown 0vmin, $dark-brown 7vmin, transparent 7vmin) 64vmin 22vmin / 20vmin 12.5vmin no-repeat,
    /* lid-top/mid-right-shadow */ linear-gradient(75deg, darken($dark-brown, 3%) 0vmin, darken($dark-brown, 3%) 7vmin, transparent 7vmin) 66.5vmin 22vmin / 20vmin 12.5vmin no-repeat,


    /* lid-top-left */ linear-gradient(-37deg, $dark-brown 0vmin, $dark-brown 10vmin, transparent 10vmin) 54vmin 22vmin / 16vmin 6.5vmin no-repeat,
    /* lid-top-right */ linear-gradient(75deg, $dark-brown 0vmin, $dark-brown 5vmin, transparent 5vmin) 67.35vmin 22vmin / 20vmin 6.5vmin no-repeat,


    /* lid-mid-shadow-left */ linear-gradient(-75deg, $dark-brown 0vmin, $dark-brown 3vmin, transparent 3vmin) 22vmin 29vmin / 20vmin 5vmin no-repeat,

    /* lid-mid-shadow-left */ linear-gradient(-75deg, lighten($dark-brown, 5%) 0vmin, lighten($dark-brown, 5%) 3vmin, transparent 3vmin) 20vmin 29vmin / 20vmin 4.5vmin no-repeat,




      /* lid-mid-center */ linear-gradient(0deg, $dark-brown 0vmin, $dark-brown 3vmin) 40vmin 28vmin / 30vmin 6.5vmin no-repeat,
    /* lid-mid-left */ linear-gradient(-75deg, $dark-brown 0vmin, $dark-brown 5vmin, transparent 5vmin) 21vmin 28vmin / 20vmin 6.5vmin no-repeat,
    /* lid-mid-right */ linear-gradient(75deg, $dark-brown 0vmin, $dark-brown 5vmin, transparent 5vmin) 69vmin 28vmin / 20vmin 6.5vmin no-repeat,

      /* lid-bottom-line */ linear-gradient(0deg, darken($dark-brown, 7%) 0vmin, darken($dark-brown, 7%) 5vmin, transparent 5vmin) 36vmin 34.5vmin / 38.5vmin .5vmin no-repeat,



    /* lid-bottom-left-shadow-mask */ linear-gradient(-70deg, $dark-brown 0vmin, $dark-brown 5vmin, transparent 5vmin) 21.5vmin 35.75vmin / 20vmin 3.25vmin no-repeat,
    /* lid-bottom-left-shadow */ linear-gradient(-70deg, lighten($dark-brown, 5%) 0vmin, lighten($dark-brown, 5%) 5vmin, transparent 5vmin) 19.25vmin 35.75vmin / 20vmin 3.25vmin no-repeat,

    /* lid-bottom-right-shadow-mask */ linear-gradient(70deg, $dark-brown 0vmin, $dark-brown 5vmin, transparent 5vmin) 69vmin 35vmin / 20vmin 5vmin no-repeat,  
    /* lid-bottom-right-shadow */ linear-gradient(70deg, darken($dark-brown, 3%) 0vmin, darken($dark-brown, 3%) 5vmin, transparent 5vmin) 72vmin 35vmin / 20vmin 5vmin no-repeat,

      /* lid-bottom-center */ linear-gradient(0deg, $dark-brown 0vmin, $dark-brown 3vmin) 36vmin 35vmin / 38vmin 5vmin no-repeat,
    /* lid-bottom-left */ linear-gradient(-70deg, $dark-brown 0vmin, $dark-brown 5vmin, transparent 5vmin) 18vmin 35vmin / 20vmin 5vmin no-repeat,
    /* lid-bottom-right */ linear-gradient(70deg, $dark-brown 0vmin, $dark-brown 5vmin, transparent 5vmin) 72vmin 35vmin / 20vmin 5vmin no-repeat,
    

    /* wrapper-shadow-right-mask */ linear-gradient(95deg, $tan 0vmin, $tan 7vmin, transparent 7vmin) 64vmin 50vmin / 10vmin 25vmin no-repeat,
    /* wrapper-shadow-right */ linear-gradient(95deg, darken($tan, 5%) 0vmin, darken($tan, 5%) 7vmin, transparent 7vmin) 68vmin 50vmin / 10vmin 25vmin no-repeat,

      /* wrapper-center */ linear-gradient(0deg, $tan 0vmin, $tan 3vmin) 45vmin 50vmin / 20vmin 25vmin no-repeat,
    /* wrapper-left */ linear-gradient(-95deg, $tan 0vmin, $tan 10vmin, transparent 3vmin) 23vmin 50vmin / 22vmin 25vmin no-repeat,
    /* wrapper-right */ linear-gradient(95deg, $tan 0vmin, $tan 10vmin, transparent 3vmin) 65vmin 50vmin / 23vmin 25vmin no-repeat,
      
      
      
      
    /* base-shadow-left-mask */ linear-gradient(-95deg, $light-brown 0vmin, $light-brown 7vmin, transparent 7vmin) 37vmin 42vmin / 10vmin 45vmin no-repeat,
        /* base-shadow-left */ linear-gradient(-95deg, lighten($light-brown, 5%) 0vmin, lighten($light-brown, 5%)7vmin, transparent 7vmin) 34vmin 42vmin / 10vmin 45vmin no-repeat,
    /* base-shadow-top */ linear-gradient(-165deg, darken($light-brown, 3%) 0vmin, darken($light-brown, 3%) 7vmin, transparent 7vmin) 32vmin 40vmin / 40vmin 20vmin no-repeat,
    /* base-shadow-right-mask */ linear-gradient(95deg, $light-brown 0vmin, $light-brown 7vmin, transparent 7vmin) 64.5vmin 40vmin / 10vmin 50vmin no-repeat,
    /* base-shadow-right */ linear-gradient(95deg, darken($light-brown, 3%) 0vmin, darken($light-brown, 3%) 7vmin, transparent 7vmin) 68vmin 40vmin / 10vmin 50vmin no-repeat,

      /* base-center */ linear-gradient(0deg, $light-brown 0vmin, $light-brown 3vmin) 45vmin 40vmin / 20vmin 50vmin no-repeat,
    /* base-left */ linear-gradient(-95deg, $light-brown 0vmin, $light-brown 10vmin, transparent 3vmin) 25vmin 40vmin / 20vmin 50vmin no-repeat,
    /* base-right */ linear-gradient(95deg, $light-brown 0vmin, $light-brown 10vmin, transparent 3vmin) 65vmin 40vmin / 20vmin 50vmin no-repeat,


}

