$bg: #233637;
$green1: #1fb67c;
$green2: #20bc7d;
$green3: #26c893;
$green4: #55ddb9;

/* Presets */
body {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: $bg;
}

div:before, div:after {
  display: block;
  content: '';
  position: absolute;
}

div.valuable {
    width: 100%;
    height: 100%;
    margin-left: -15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
       
    linear-gradient(-135deg, $green3 10vh, transparent 10vh) 30vh 40vh / 20vh 20vh no-repeat, 
    linear-gradient(-45deg, $green4 10vh, transparent 10vh) 30vh 20vh / 20vh 20vh no-repeat, 
      
    linear-gradient(-45deg, $green2 10vh, transparent 10vh) 44vh 20vh / 20vh 20vh no-repeat,
    linear-gradient(135deg, $green3 10vh, transparent 10vh) 50vh 26vh / 20vh 20vh no-repeat,
    linear-gradient(45deg, $green1 10vh, transparent 10vh) 64vh 20vh / 20vh 20vh no-repeat,
    linear-gradient(-135deg, $green4 10vh, transparent 10vh) 58vh 26vh / 20vh 20vh no-repeat,
    
    linear-gradient(45deg, $green1 10vh, transparent 10vh) 50vh 34vh / 20vh 20vh no-repeat,
    linear-gradient(-135deg, $green4 10vh, transparent 10vh) 44vh 40vh / 20vh 20vh no-repeat,
    linear-gradient(-45deg, $green2 10vh, transparent 10vh) 58vh 34vh / 20vh 20vh no-repeat,
    linear-gradient(135deg, $green3 10vh, transparent 10vh) 64vh 40vh / 20vh 20vh no-repeat,
      
    linear-gradient(135deg, $green4 10vh, transparent 10vh) 78vh 40vh / 20vh 20vh no-repeat,
    linear-gradient(45deg, $green3 10vh, transparent 10vh) 78vh 20vh / 20vh 20vh no-repeat,
      
    linear-gradient(-135deg, $green4 10vh, transparent 10vh) 44vh 54vh / 20vh 20vh no-repeat,
    linear-gradient(135deg, $green3 10vh, transparent 10vh) 64vh 54vh / 20vh 20vh no-repeat,
    
}

