$bg: #233637;
$green1: #1fb67c;
$green2: #20bc7d;
$green3: #26c893;
$green4: #55ddb9;

/* Presets */
body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  position: relative; 
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
  
  background: 
    radial-gradient(lighten($bg, 20%), darken($bg, 20%)); 
    
  
}

div:before, div:after {
  display: block;
  content: '';
  position: absolute;
}

div.valuable {
    width: 100vmin;
    height: 100vmin;
    margin-left: -30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
       
    linear-gradient(-135deg, $green3 10vmin, transparent 10vmin) 30vmin 40vmin / 20vmin 20vmin no-repeat, 
    linear-gradient(-45deg, $green4 10vmin, transparent 10vmin) 30vmin 20vmin / 20vmin 20vmin no-repeat, 
      
    linear-gradient(-45deg, $green2 10vmin, transparent 10vmin) 44vmin 20vmin / 20vmin 20vmin no-repeat,
    linear-gradient(135deg, $green3 10vmin, transparent 10vmin) 50vmin 26vmin / 20vmin 20vmin no-repeat,
    linear-gradient(45deg, $green1 10vmin, transparent 10vmin) 64vmin 20vmin / 20vmin 20vmin no-repeat,
    linear-gradient(-135deg, $green4 10vmin, transparent 10vmin) 58vmin 26vmin / 20vmin 20vmin no-repeat,
    
    linear-gradient(45deg, $green1 10vmin, transparent 10vmin) 50vmin 34vmin / 20vmin 20vmin no-repeat,
    linear-gradient(-135deg, $green4 10vmin, transparent 10vmin) 44vmin 40vmin / 20vmin 20vmin no-repeat,
    linear-gradient(-45deg, $green2 10vmin, transparent 10vmin) 58vmin 34vmin / 20vmin 20vmin no-repeat,
    linear-gradient(135deg, $green3 10vmin, transparent 10vmin) 64vmin 40vmin / 20vmin 20vmin no-repeat,
      
    linear-gradient(135deg, $green4 10vmin, transparent 10vmin) 78vmin 40vmin / 20vmin 20vmin no-repeat,
    linear-gradient(45deg, $green3 10vmin, transparent 10vmin) 78vmin 20vmin / 20vmin 20vmin no-repeat,
      
    linear-gradient(-135deg, $green4 10vmin, transparent 10vmin) 44vmin 54vmin / 20vmin 20vmin no-repeat,
    linear-gradient(135deg, $green3 10vmin, transparent 10vmin) 64vmin 54vmin / 20vmin 20vmin no-repeat,
    
}

