/* colors */
/*dimensions */
/* Presets */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-perspective: 700px;
          perspective: 700px;
  -webkit-perspective-origin: 0% 0%;
          perspective-origin: 0% 0%;
  background-color: #f2f2f2;
}

div:before, div:after {
  display: block;
  content: '';
  position: absolute;
}

div.stripes {
  width: 90vh;
  height: 60vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border: solid 10px #f2f2f2;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: linear-gradient #fff, 0vh, #fff 100vh;
}

div.stripes:before {
  width: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateZ(-38deg) translateX(15vh) translateY(-40vh);
          transform: rotateZ(-38deg) translateX(15vh) translateY(-40vh);
  background: radial-gradient(ellipse, #fff 25vh, transparent 25vh) 32vh 13vh/49.5vh 59vh no-repeat, radial-gradient(ellipse, #ED4920 25vh, transparent 25vh) 28vh 11.5vh/50vh 61vh no-repeat, radial-gradient(ellipse, #fff 25vh, transparent 25vh) 26vh 13vh/49.5vh 60vh no-repeat, radial-gradient(ellipse, #EE854A 25vh, transparent 25vh) 22vh 11.5vh/50vh 62vh no-repeat, radial-gradient(ellipse, #fff 25vh, transparent 25vh) 20vh 13vh/50vh 62vh no-repeat, radial-gradient(ellipse, #F4D109 25vh, transparent 25vh) 16vh 11.5vh/50vh 64vh no-repeat, radial-gradient(ellipse, #fff 25vh, transparent 25vh) 14vh 13vh/50vh 64vh no-repeat, radial-gradient(ellipse, #5CC85A 25vh, transparent 25vh) 10vh 11.5vh/50vh 66vh no-repeat, radial-gradient(ellipse, #fff 25vh, transparent 25vh) 9vh 13vh/50vh 68vh no-repeat, radial-gradient(ellipse, #3F87CF 25vh, transparent 25vh) 5vh 11.5vh/50vh 70vh no-repeat, radial-gradient(ellipse, #fff 25vh, transparent 25vh) 3vh 11vh/50vh 72vh no-repeat, radial-gradient(ellipse, #845AC8 25vh, transparent 25vh) -1vh 11.5vh/50vh 72vh no-repeat;
}

div.stripes:after {
  width: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateY(-5deg) rotateZ(35deg) translateX(-14.5vh) translateY(-28vh);
          transform: rotateY(-5deg) rotateZ(35deg) translateX(-14.5vh) translateY(-28vh);
  background: radial-gradient(ellipse, #fff 40vh, transparent 40vh) 50vh 60vh/84vh 41.5vh no-repeat, radial-gradient(ellipse, #845AC8 40vh, transparent 40vh) 50vh 57vh/80vh 40vh no-repeat, radial-gradient(ellipse, #fff 40vh, transparent 40vh) 50vh 50vh/84vh 52vh no-repeat, radial-gradient(ellipse, #3F87CF 40vh, transparent 40vh) 50vh 47vh/80vh 50vh no-repeat, radial-gradient(ellipse, #fff 40vh, transparent 40vh) 50vh 40vh/84vh 60vh no-repeat, radial-gradient(ellipse, #5CC85A 40vh, transparent 40vh) 50vh 37vh/80vh 60vh no-repeat, radial-gradient(ellipse, #fff 40vh, transparent 40vh) 50vh 30vh/84vh 65vh no-repeat, radial-gradient(ellipse, #F4D109 40vh, transparent 40vh) 50vh 27vh/80vh 65vh no-repeat, radial-gradient(ellipse, #fff 40vh, transparent 40vh) 50vh 20vh/84vh 70vh no-repeat, radial-gradient(ellipse, #EE854A 40vh, transparent 40vh) 50vh 17vh/80vh 70vh no-repeat, radial-gradient(ellipse, #fff 40vh, transparent 40vh) 50vh 10vh/84vh 75vh no-repeat, radial-gradient(ellipse, #ED4920 40vh, transparent 40vh) 50vh 7vh/80vh 75vh no-repeat;
}
/*# sourceMappingURL=style.css.map */