/* colors */
/*dimensions */
/* Presets */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
}

div:before, div:after {
  display: block;
  content: "";
  position: absolute;
}

div.stripes {
  width: 100vmin;
  height: 100vmin;
  top: 40vmin;
  transform: scale(1.6);
  background-color: #FFFFFF;
  position: relative;
}

div.stripes:before {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  transform: rotateZ(-38deg) translateX(15vmin) translateY(-40vmin);
  background: radial-gradient(ellipse, #fff 25vmin, transparent 25.25vmin) 32vmin 13vmin/49.5vmin 59vmin no-repeat, radial-gradient(ellipse, #ED4920 25vmin, transparent 25.25vmin) 28vmin 11.5vmin/50vmin 61vmin no-repeat, radial-gradient(ellipse, #fff 25vmin, transparent 25.25vmin) 26vmin 13vmin/49.5vmin 60vmin no-repeat, radial-gradient(ellipse, #EE854A 25vmin, transparent 25.25vmin) 22vmin 11.5vmin/50vmin 62vmin no-repeat, radial-gradient(ellipse, #fff 25vmin, transparent 25.25vmin) 20vmin 13vmin/50vmin 62vmin no-repeat, radial-gradient(ellipse, #F4D109 25vmin, transparent 25.25vmin) 16vmin 11.5vmin/50vmin 64vmin no-repeat, radial-gradient(ellipse, #fff 25vmin, transparent 25.25vmin) 14vmin 13vmin/50vmin 64vmin no-repeat, radial-gradient(ellipse, #5CC85A 25vmin, transparent 25.25vmin) 10vmin 11.5vmin/50vmin 66vmin no-repeat, radial-gradient(ellipse, #fff 25vmin, transparent 25.25vmin) 9vmin 13vmin/50vmin 68vmin no-repeat, radial-gradient(ellipse, #3F87CF 25vmin, transparent 25.25vmin) 5vmin 11.5vmin/50vmin 70vmin no-repeat, radial-gradient(ellipse, #fff 25vmin, transparent 25.25vmin) 3vmin 11vmin/50vmin 72vmin no-repeat, radial-gradient(ellipse, #845AC8 25vmin, transparent 25.25vmin) -1vmin 11.5vmin/50vmin 72vmin no-repeat;
}

div.stripes:after {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  transform: rotateZ(30deg) translateX(-12vmin) translateY(-30vmin);
  background: radial-gradient(ellipse, #fff 40vmin, transparent 40.25vmin) 50vmin 60vmin/84vmin 41.5vmin no-repeat, radial-gradient(ellipse, #845AC8 40vmin, transparent 40.25vmin) 50vmin 57vmin/80vmin 40vmin no-repeat, radial-gradient(ellipse, #fff 40vmin, transparent 40.25vmin) 50vmin 50vmin/84vmin 52vmin no-repeat, radial-gradient(ellipse, #3F87CF 40vmin, transparent 40.25vmin) 50vmin 47vmin/80vmin 50vmin no-repeat, radial-gradient(ellipse, #fff 40vmin, transparent 40.25vmin) 50vmin 40vmin/84vmin 60vmin no-repeat, radial-gradient(ellipse, #5CC85A 40vmin, transparent 40.25vmin) 50vmin 37vmin/80vmin 60vmin no-repeat, radial-gradient(ellipse, #fff 40vmin, transparent 40.25vmin) 50vmin 30vmin/84vmin 65vmin no-repeat, radial-gradient(ellipse, #F4D109 40vmin, transparent 40.25vmin) 50vmin 27vmin/80vmin 65vmin no-repeat, radial-gradient(ellipse, #fff 40vmin, transparent 40.25vmin) 50vmin 20vmin/84vmin 70vmin no-repeat, radial-gradient(ellipse, #EE854A 40vmin, transparent 40.25vmin) 50vmin 17vmin/80vmin 70vmin no-repeat, radial-gradient(ellipse, #fff 40vmin, transparent 40.25vmin) 50vmin 10vmin/84vmin 75vmin no-repeat, radial-gradient(ellipse, #ED4920 40vmin, transparent 40.25vmin) 50vmin 7vmin/80vmin 75vmin no-repeat;
}