/* font */
$font: Inter, serif;

/* colors */
$white: #FFFFFF;
$test: #bada55;

$lh: #6B5E51;
$lh-shadow: #4B3F34; 
$lh-window: #26211B; 

$moon1: #D9D6C5;
$moon2: #EBE6CB;

$beach1: #735C46;
$beach2: #88827D;

$ocean1: #1C5BBA;
$ocean2: #0C2954;

/*dimensions */
$full: 100vmin;

/* Presets */

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    /* land */
    linear-gradient(180deg, $beach1 19.59%, $beach2 100%) 0% 90vmin / 100vmin 4vmin no-repeat,
  
    /* ocean */ 
    linear-gradient($ocean1 0%, $ocean2 100%) 0vmin 94vmin / 100vw 400vmin no-repeat,

    radial-gradient(ellipse, $beach1 40vmin, transparent 40vmin) -50vmin 50vmin / 280vmin 80vmin no-repeat,
    radial-gradient(ellipse, $beach1 40vmin, transparent 40vmin) -75vmin 50vmin / 280vmin 80vmin no-repeat,
    radial-gradient(ellipse, $beach1 40vmin, transparent 40vmin) -100vmin 50vmin / 280vmin 80vmin no-repeat,
    radial-gradient(ellipse, $beach1 40vmin, transparent 40vmin) -125vmin 50vmin / 280vmin 80vmin no-repeat, 
    
    linear-gradient($beach1 60vmin, transparent 60vmin) 0vmin 80vmin / 100vw 20vh no-repeat, 

  conic-gradient(from 167.72deg at 50.06% 45.46%, #133955 -54.38deg, #344275 7.33deg, #6F357D 84.38deg, #30297D 138.99deg, #213A57 168.75deg, #290755 205.87deg, #0C4A47 264.38deg, #133955 305.62deg, #344275 367.33deg);
}

div:before, div:after {
  display: block;
  content: '';
  position: absolute;
}

div.wonder {
    width: 100vmin;
    height: 90vmin;
    position: relative;
  
  $star-size: .25vmin;
  $moon-size: 10vmin;
  $moon2-size: 5vmin;
  $ocean-size: 15vmin;
  $random: (random(100) + vmin);

  background:    
  
    /*--- night sky ---*/
    /* stars */ 
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat,
    radial-gradient(circle, $moon1 $star-size, transparent $star-size)  (random(100) + vmin) (random(75) + vmin)  / calc( #{$star-size} * 2) calc( #{$star-size} * 2)  no-repeat;

}
  
  

div.wonder:before {
    width: 100vmin;
    height: 95vmin;
    left: -5vmin;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

  background:    
    
    
    
    /*  lighthouse base */
    
    /* window row 1 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 49.75vmin 39vmin / 9vmin 2.5vmin no-repeat,
  

    /* window row 2 */repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 49.75vmin 42.25vmin / 9vmin 2.5vmin no-repeat,
    
    /* window row 3 */repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 49.75vmin 45.5vmin / 9vmin 2.5vmin no-repeat,

    /* window row 4 */repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 49.75vmin 48.75vmin / 9vmin 2.5vmin no-repeat,
    
    /* window row 5 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 47.5vmin 56.5vmin / 14vmin 2.5vmin no-repeat,
    
    /* window row 6 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 47.5vmin 60vmin / 14vmin 2.5vmin no-repeat,
    
    
    /* window row 7 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 47.5vmin 63.5vmin / 14vmin 2.5vmin no-repeat,
    
    /* window row 8 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 47.5vmin 67vmin / 14vmin 2.5vmin no-repeat,
    
    /* window row 9 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin) 47.5vmin 70.5vmin / 14vmin 2.5vmin no-repeat,
    
    /* window row 10 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin)  47.5vmin 74vmin / 14vmin 2.5vmin no-repeat,
    
    /* window row 11 */ repeating-linear-gradient(90deg, $lh-window 0vmin, $lh-window 1.5vmin, transparent 1.5vmin, transparent 2.5vmin)  47.5vmin 77.5vmin / 14vmin 2.5vmin no-repeat,
    
    /* large window row  */
    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  26.75vmin 81.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 27.25vmin 83.75vmin / 3vmin 5vmin no-repeat,
    
    
    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  35vmin 83.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 35.5vmin 85.75vmin / 3vmin 3vmin no-repeat,

    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  41vmin 83.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 41.5vmin 85.75vmin / 3vmin 3vmin no-repeat,
    
    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  47vmin 83.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 47.5vmin 85.75vmin / 3vmin 3vmin no-repeat,
    
    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  53vmin 83.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 53.5vmin 85.75vmin / 3vmin 3vmin no-repeat,

    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  59vmin 83.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 59.5vmin 85.75vmin / 3vmin 3vmin no-repeat,

    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  65vmin 83.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 65.5vmin 85.75vmin / 3vmin 3vmin no-repeat,

    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  71vmin 83.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 71.5vmin 85.75vmin / 3vmin 3vmin no-repeat,


    radial-gradient(circle, $lh-window 1.5vmin, transparent 1.5vmin)  79.5vmin 81.5vmin / 4vmin 4vmin no-repeat, linear-gradient($lh-window 6vmin, transparent 6vmin) 80vmin 83.75vmin / 3vmin 5vmin no-repeat,
   
    
    
    
    
    /*  lighthouse base */
    
    
    /* upper-upper-base shadow */     linear-gradient(160deg, $lh 1vmin, $lh-shadow 4vmin) 50.5vmin 19.25vmin / 8vmin 2vmin no-repeat,
    linear-gradient(160deg, $lh 1vmin, $lh-shadow 6vmin) 49.5vmin 21vmin / 10vmin 1vmin no-repeat,
    /* upper-upper-base */linear-gradient(160deg, $lh 1vmin, $lh-shadow 5vmin) 49vmin 22vmin / 11vmin 1vmin no-repeat,
    radial-gradient(ellipse, $lh 4vmin, transparent 4vmin)  50vmin 16vmin / 9vmin 7vmin no-repeat,
      

    
    /* light-column1 */linear-gradient(160deg, $lh 1vmin, $lh 6vmin) 49vmin 23vmin / 1vmin 6vmin no-repeat,
    /* light-column2 */linear-gradient(160deg, $lh 1vmin, $lh 6vmin) 51.5vmin 23vmin / 1.25vmin 6vmin no-repeat,
    /* light-column3 */linear-gradient(160deg, $lh 1vmin, $lh-shadow 8vmin) 56vmin 23vmin / 1.25vmin 6vmin no-repeat,
    /* light-column4 */linear-gradient(160deg, $lh 1vmin, $lh-shadow 6vmin) 59vmin 23vmin / 1vmin 6vmin no-repeat,
    
    /* upper-upper-base shadow */ linear-gradient(160deg, $lh 1vmin, $lh-shadow 4vmin) 49.5vmin 30vmin / 10vmin 1vmin no-repeat,
    /* upper-upper-base */linear-gradient(160deg, $lh 1vmin, $lh-shadow 5vmin) 49vmin 29vmin / 11vmin 1vmin no-repeat,
    radial-gradient(ellipse, $lh 4vmin, transparent 4vmin)  45.5vmin 27vmin / 18vmin 8vmin no-repeat,
    radial-gradient(ellipse, $lh-shadow 4vmin, transparent 4vmin)  45.5vmin 27.25vmin / 18vmin 8vmin no-repeat,
    
    /* upper-base */ linear-gradient(160deg, $lh 4vmin, $lh-shadow 6vmin) 51vmin 31vmin / 7vmin 4.5vmin no-repeat,
    



    /* lower-upper-base */linear-gradient(170deg, $lh 1vmin, $lh-shadow 3vmin) 47vmin 35.5vmin / 15vmin 1vmin no-repeat,
    /* lower-upper-base */linear-gradient(170deg, $lh 1vmin, $lh-shadow 3vmin) 46vmin 36.5vmin / 17vmin 1vmin no-repeat,


    /* top tower shadow r */linear-gradient(82deg, $lh-shadow 3vmin, transparent 3vmin) 59.25vmin 46vmin / 6vmin 7vmin no-repeat,
    /* top tower shadow l */ linear-gradient(-35deg, $lh-shadow 6vmin, transparent 8vmin) 28vmin 23vmin / 33vmin 30vmin no-repeat,
    /* top tower l */ linear-gradient(82deg, $lh 10vmin, transparent 10vmin) 52vmin 37vmin / 15vmin 16vmin no-repeat,
    /* top tower r */ linear-gradient(-82deg, $lh 10vmin, transparent 10vmin) 42vmin 37vmin / 15vmin 16vmin no-repeat,

    /* lightbulb */radial-gradient(circle, $moon2 2.5vmin, transparent 4.5vmin)  50.5vmin 21.5vmin / 8vmin 8vmin no-repeat,
    
    /* mid-base */linear-gradient(170deg, $lh 1vmin, $lh-shadow 4vmin) 44vmin 53vmin / 21vmin 1vmin no-repeat,
    /* mid-base */linear-gradient(170deg, $lh 1vmin, $lh-shadow 4vmin) 43vmin 54vmin / 23vmin 1vmin no-repeat,
    


    /* base l */ linear-gradient(90deg, $lh 8.5vmin, $lh-shadow 14vmin) 24vmin 78vmin / 10vmin 12vmin no-repeat,
    /* base l */ linear-gradient(90deg, $lh-shadow 8.5vmin, $lh-shadow 14vmin) 76vmin 78vmin / 10vmin 12vmin no-repeat,
    /* base */ linear-gradient(160deg, $lh 5vmin, $lh-shadow 14vmin) 29vmin 83vmin / 53vmin 7vmin no-repeat,
    
    /* bottom tower shadow r */linear-gradient(82deg, $lh-shadow 4vmin, transparent 4vmin) 63.5vmin 75vmin / 8vmin 10vmin no-repeat,
    /* bottom tower shadow l */ linear-gradient(-25deg, $lh-shadow 9.5vmin, transparent 11.5vmin) 24vmin 55vmin / 42vmin 30vmin no-repeat,
    /* bottom tower l */ linear-gradient(82deg, $lh 20vmin, transparent 20vmin) 47vmin 55vmin / 30vmin 30vmin no-repeat,
    /* bottom tower r */ linear-gradient(-82deg, $lh 20vmin, transparent 20vmin) 32vmin 55vmin / 30vmin 30vmin no-repeat,

    /* base */ linear-gradient(0deg, $lh-shadow 0vmin, $lh-window 3vmin) 20vmin 90vmin / 70vmin 4vmin no-repeat,
    /* base */ linear-gradient(-45deg, $lh-shadow 0vmin, $lh-window 2.75vmin, transparent 3vmin) 10vmin 84vmin / 10vmin 10vmin no-repeat,
    /* base */ linear-gradient(45deg, $lh-shadow 0vmin, $lh-window 2.75vmin, transparent 3vmin) 90vmin 84vmin / 10vmin 10vmin no-repeat,
}

div.wonder:after {
      top: 10vmin;
      left: 10vmin;
      width: 20vmin;
      height: 20vmin;
      border-radius: 50%;
      box-shadow: 4vmin 4vmin 0 0 $moon1;
    }
  


    
  