*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  position: relative;
  transform: scale(1.3);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: radial-gradient(#a5dcfa, #0c86c7);
}

div {
  height: 45vmin;
  width: 33vmin;
  background-color: #fff;
  position: absolute;
  margin: auto;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  box-shadow: 3vmin 0 rgba(0, 0, 0, 0.1);
}

div:before {
  content: "";
  position: absolute;
  height: 2vmin;
  width: 2vmin;
  background-color: #010008;
  border-radius: 50%;
  top: 25vmin;
  right: 12.5vmin;
  box-shadow: -6vmin 0 0 #010008, 1.5vmin 2.5vmin 0 -0.35vmin #f5750f, -7.5vmin 2.5vmin 0 -0.35vmin #f5750f, -3vmin 0 0 10vmin #f5d201;
}

div:after {
  content: "";
  position: absolute;
  height: 2.75vmin;
  width: 4vmin;
  background-color: #010008;
  top: 29vmin;
  left: 14.5vmin;
  border-radius: 1vmin 1vmin 3vmin 3vmin;
  border: 0.5vmin solid #010008;
  background: radial-gradient(at 50% 100%, #f5750f 1vmin, #010008 1vmin);
}