/* Presets */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div:before, div:after {
  display: block;
  content: "";
  position: absolute;
}

div.erase {
  width: 150vh;
  height: 100vh;
  top: 0vh;
  left: 0vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  background: repeating-linear-gradient(0deg, transparent 0 20px, rgb(234.6, 234.6, 234.6) 20px 35px), linear-gradient(90deg, rgb(229.5, 229.5, 229.5) 15%, rgb(216.75, 216.75, 216.75) 100%);
}

div.erase:before {
  width: 100vh;
  height: 100vh;
  top: -10vh;
  left: -100vh;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: eraser-line 5s ease-out 0s 1 both running;
  background: linear-gradient(#FFFFFF 7.5vh, #FFFFFF 7.75vh) 0vh 60vh/150vh 12vh no-repeat;
}

div.erase:after {
  width: 100vh;
  height: 100vh;
  top: -19vh;
  left: -60vh;
  z-index: 999;
  transform: rotatez(-60deg);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: eraser-pencil 5s ease-out 0s 1 both running;
  background: linear-gradient(rgb(193.7710843373, 173.0963855422, 118.2289156627) 0vh, rgb(193.7710843373, 173.0963855422, 118.2289156627) 5vh, #B29853 5vh, #B29853 10vh, rgb(145.0602409639, 123.1325301205, 64.9397590361) 10vh) 50vh 60vh/60vh 15vh no-repeat, linear-gradient(transparent 0vh, transparent 1vh, rgb(181.75, 181.75, 181.75) 1vh, rgb(181.75, 181.75, 181.75) 1.5vh, transparent 1.5vh, transparent 3.5vh, rgb(181.75, 181.75, 181.75) 3.5vh, rgb(181.75, 181.75, 181.75) 4vh, transparent 4vh, transparent 6vh, rgb(181.75, 181.75, 181.75) 6vh, rgb(181.75, 181.75, 181.75) 6.5vh, transparent 6.5vh, transparent 8.5vh, rgb(181.75, 181.75, 181.75) 8.5vh, rgb(181.75, 181.75, 181.75) 9vh, transparent 9vh, transparent 11vh, rgb(181.75, 181.75, 181.75) 11vh, rgb(181.75, 181.75, 181.75) 11.5vh, transparent 11.5vh, transparent 13.5vh, rgb(181.75, 181.75, 181.75) 13.5vh, rgb(181.75, 181.75, 181.75) 14vh, transparent 14vh, transparent 15vh) 41vh 60vh/6vh 15vh no-repeat, linear-gradient(90deg, transparent 0vh, transparent 2vh, rgb(181.75, 181.75, 181.75) 2vh, rgb(181.75, 181.75, 181.75) 2.5vh, transparent 2.5vh, transparent 10vh, rgb(181.75, 181.75, 181.75) 10vh, rgb(181.75, 181.75, 181.75) 10.5vh, transparent 10.5vh, transparent 12vh) 38vh 60vh/12vw 15vh no-repeat, radial-gradient(ellipse, #DCDCDC 4vh, darkgray 9vh, transparent 9vh) 38vh 60vh/12vh 15vh no-repeat, radial-gradient(ellipse, #A45858 4vh, rgb(130.8095238095, 70.1904761905, 70.1904761905) 9vh, transparent 9vh) 28vh 60vh/15vh 15vh no-repeat;
}

@keyframes eraser-pencil {
  0% {
    transform: translateX(0vh) rotatez(-60deg);
  }
  100% {
    transform: translateX(50vh) rotatez(-60deg);
  }
}
@keyframes eraser-line {
  0% {
    transform: translateX(0vh);
  }
  100% {
    transform: translateX(50vh);
  }
}/*# sourceMappingURL=style.css.map */